{% extends 'base1.html.twig' %}

{% block title %}Gestion des Chambres
{% endblock %}

{% block body %}
	<!-- Extra details for Live View on GitHub Pages -->
	<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0" style="display:none;visibility:hidden"> </iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	<div class="wrapper ">
		<div class="sidebar" data-color="orange" data-background-color="black" data-image="{{ asset('assets/img/sidebar-1.jpg')}}">
			<div class="logo">
				<img src="{{ asset('assets/img/secondry - Copie.png') }}" class="simple-text logo-mini" alt="Logo">
			</div>
			<div class="sidebar-wrapper">
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link" href="dashboard.html">
							<i class="material-icons">dashboard</i>
							<p>Dashboard</p>
						</a>
					</li>

					<!-- Sector Gestion User Nav bar-->
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_back_office')}}">
							<i class="material-icons">person</i>
							<p>Gestion User</p>
						</a>
					</li>

					<!-- Sector Gestion Hotel Nav bar -->
					<li class="nav-item active">
						<a class="nav-link" data-toggle="collapse" href="#gestionHotelMenu" aria-expanded="true">
							<i class="material-icons">apartment</i>
							<p>Gestion Hotel
								<b class="caret"></b>
							</p>
						</a>
						<div class="collapse show" id="gestionHotelMenu">
							<ul class="nav">
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_back_hotel_index')}}">
										<span class="sidebar-mini">H</span>
										<span class="sidebar-normal">Hotel</span>
									</a>
								</li>
								<li class="nav-item active">
									<a class="nav-link" href="{{path('app_back_chambre')}}">
										<span class="sidebar-mini">C</span>
										<span class="sidebar-normal">Chambre</span>
									</a>
								</li>
							</ul>
						</div>
					</li>

					<!-- Other menu items remain the same -->
				</ul>
			</div>
		</div>

		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header card-header-primary">
									<h4 class="card-title">Chambres</h4>
									<p class="card-category">Liste des chambres disponibles</p>
									<a href="{{ path('app_back_chambre_new') }}" class="btn btn-success btn-round float-right">
										<i class="material-icons">add</i>
										Nouvelle Chambre
									</a>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
											<thead class="text-primary">
												<tr>
													<th>Type</th>
													<th>Prix</th>
													<th>Disponibilité</th>
													<th>Description</th>
													<th>Nom d'Hôtel</th>
													<th class="disabled-sorting text-right">Actions</th>
												</tr>
											</thead>
											<tfoot>
												<tr>
													<th>Type</th>
													<th>Prix</th>
													<th>Disponibilité</th>
													<th>Description</th>
													<th>Nom d'Hôtel</th>
													<th class="text-right">Actions</th>
												</tr>
											</tfoot>
											<tbody>
												{% for chambre in chambres %}
													<tr>
														<td>{{ chambre.type }}</td>
														<td>{{ chambre.prix }}
															DT</td>
														<td>
															{% if chambre.disponibilite == 'Disponible' %}
																<span class="badge badge-success">DISPONIBLE</span>
															{% else %}
																<span class="badge badge-danger">NON DISPONIBLE</span>
															{% endif %}
														</td>
														<td>{{ chambre.description }}</td>
														<td>{{ chambre.hotel is not null ? chambre.hotel.nom : 'Non assigné' }}</td>
														<td class="td-actions text-right">

															<a href="{{ path('app_back_chambre_edit', {'id': chambre.id}) }}" class="btn btn-success btn-round">
																<i class="material-icons">edit</i>
															</a>
															<form method="post" action="{{ path('app_back_chambre_delete', {'id': chambre.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette chambre?');">
																<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chambre.id) }}">
																<button type="submit" class="btn btn-danger btn-round">
																	<i class="material-icons">close</i>
																</button>
															</form>
														</td>
													</tr>
												{% else %}
													<tr>
														<td colspan="6" class="text-center">Aucune chambre trouvée</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

{% endblock %}
