{% extends 'base.html.twig' %}


{% block body %}

	<div class="sidemenu-wrapper offcanvas-wrapper d-none d-lg-block">
		<div class="sidemenu-content">
			<button class="closeButton sideMenuCls">
				<i class="far fa-times"></i>
			</button>
			<div class="widget">
				<div class="vs-widget-about">
					<div class="footer-logo">
						<a href="index.html"><img src="assets/img/logo.svg" alt="Travolo"/></a>
					</div>
					<p class="footer-text">
						Ut tellus dolor, dapibus eget, elementum ifend cursus eleifend,
																																																																																																																																																																																																																																																																																																																																																																																																																																																						              elit. Aenea ifen dn tor wisi Aliquam er at volutpat. Dui ac tui
																																																																																																																																																																																																																																																																																																																																																																																																																																																						              end cursus eleifendrpis.
					</p>
					<div class="info-social style2">
						<a href="#">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a href="#">
							<i class="fab fa-twitter"></i>
						</a>
						<a href="#">
							<i class="fab fa-linkedin-in"></i>
						</a>
						<a href="#">
							<i class="fab fa-google"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="widget">
				<h3 class="widget_title">Recent Articles</h3>
				<div class="recent-post-wrap">
					<div class="recent-post">
						<div class="media-img">
							<a href="blog-details.html"><img src="assets/img/blog/recent-post1.jpg" alt="Blog Image"/></a>
						</div>
						<div class="media-body">
							<div class="recent-post-meta">
								<i class="fal fa-calendar-alt"></i>
								<a href="blog.html">December 15, 2022</a>
							</div>
							<h4 class="post-title">
								<a class="text-inherit" href="blog-details.html">We are Giving Amazing Tour for VIP</a>
							</h4>
						</div>
					</div>
					<div class="recent-post">
						<div class="media-img">
							<a href="blog-details.html"><img src="assets/img/blog/recent-post2.jpg" alt="Blog Image"/></a>
						</div>
						<div class="media-body">
							<div class="recent-post-meta">
								<i class="fal fa-calendar-alt"></i>
								<a href="blog.html">March 13, 2022</a>
							</div>
							<h4 class="post-title">
								<a class="text-inherit" href="blog-details.html">The journey journal chronicles of a wandering soul</a>
							</h4>
						</div>
					</div>
					<div class="recent-post">
						<div class="media-img">
							<a href="blog-details.html"><img src="assets/img/blog/recent-post3.jpg" alt="Blog Image"/></a>
						</div>
						<div class="media-body">
							<div class="recent-post-meta">
								<i class="fal fa-calendar-alt"></i>
								<a href="blog.html">Augest 23, 2022</a>
							</div>
							<h4 class="post-title">
								<a class="text-inherit" href="blog-details.html">Roam And Revel captivating at tellus.</a>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--==============================
																																																																									    Cart Side bar
																																																																									  ============================== -->
	<div class="sideCart-wrapper offcanvas-wrapper d-none d-lg-block">
		<div class="sidemenu-content">
			<button class="closeButton border-theme bg-theme-hover sideMenuCls">
				<i class="far fa-times"></i>
			</button>
			<div class="widget widget_shopping_cart">
				<h3 class="widget_title">Shopping cart</h3>
				<div class="widget_shopping_cart_content">
					<ul class="cart_list">
						<li class="mini_cart_item">
							<a href="shop.html" class="remove">
								<i class="fal fa-trash-alt"></i>
							</a>
							<a href="shop.html"><img src="assets/img/products/p-1-1.png" alt="Cart Image"/>Modern Cow Boy Hat</a>
							<span class="quantity">
								1 ×
								<span class="amount">
									<span>$</span>100.00</span>
							</span>
						</li>
						<li class="mini_cart_item">
							<a href="shop.html" class="remove">
								<i class="fal fa-trash-alt"></i>
							</a>
							<a href="shop.html"><img src="assets/img/products/p-1-2.png" alt="Cart Image"/>Cat Eye Sunglasses</a>
							<span class="quantity">
								1 ×
								<span class="amount">
									<span>$</span>10.00</span>
							</span>
						</li>
					</ul>
					<div class="total">
						<strong>Subtotal:</strong>
						<span class="amount">
							<span>$</span>110.00</span>
					</div>
					<div class="buttons">
						<a href="cart.html" class="vs-btn style4">View cart</a>
						<a href="checkout.html" class="vs-btn style4">Checkout</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--==============================
																																																																									    Popup Search Box
																																																																									    ============================== -->
	<div class="popup-search-box d-none d-lg-block">
		<button class="searchClose">
			<i class="fal fa-times"></i>
		</button>
		<form action="#">
			<input type="text" class="border-theme" placeholder="What are you looking for"/>
			<button type="submit">
				<i class="fal fa-search"></i>
			</button>
		</form>
	</div>


	<!-- Hero Area Start -->
	<div class="breadcumb-wrapper" style="
																																																																																																																																																																																																																											        background-color: rgba(
																																																																																																																																																																																																																											          19,
																																																																																																																																																																																																																											          42,
																																																																																																																																																																																																																											          62
																																																																																																																																																																																																																											        ); /* Fond avec couleur #132a3e et opacité 0.5 */
																																																																																																																																																																																																																											        background-size: cover; /* Si vous voulez que l'arrière-plan couvre toute la zone */
																																																																																																																																																																																																																											        background-position: center; /* Centrer l'image de fond */
																																																																																																																																																																																																																		        background-repeat: no-repeat; /* Empêche la répétition de l'image */
																																																																																																																																																																																																																											      ">
		<div class="container z-index-common">
			<div class="breadcumb-content">
				<h1 class="breadcumb-title">S'inscrire</h1>
				<div class="breadcumb-menu-wrap">
					<ul class="breadcumb-menu">
						<li>
							<a href="{{path('app_home')}}">Accueil</a>
						</li>
						<li>S'inscrire</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Hero Area End -->

	<!-- Sign Up Area Start -->
	<section class="space space-extra-bottom bg-light shape-mockup-wrap" data-bg-src="assets/img/shape/Bg.png">
		<div class="shape-mockup d-none d-xl-block z-index-negative" data-bottom="13%" data-left="0%">
			<img src="assets/img/shape/walk.png" alt="circle"/>
		</div>
		<div class="signup-wrapper space">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6">
						{% for label, messages in app.flashes %}
							{% for message in messages %}
								<div class="alert alert-{{ label }}">
									{{ message }}
								</div>
							{% endfor %}
						{% endfor %}
						{{ form_start(form, {'attr': {'class': 'signup-form bg-smoke', 'novalidate': 'novalidate'}}) }}
						<h2 class="form-title text-center mb-lg-35">Créer un compte</h2>

						<div class="form-group">
							{{ form_row(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Prénom*'}}) }}
						</div>

						<div class="form-group">
							{{ form_row(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom*'}}) }}
						</div>

						<div class="form-group">
							{{ form_row(form.num_tel, {'attr': {'class': 'form-control', 'placeholder': 'Numéro de téléphone*'}}) }}
						</div>

						<div class="form-group">
							{{ form_row(form.mail, {'attr': {'class': 'form-control', 'placeholder': 'Adresse e-mail*'}}) }}
						</div>

						<div class="form-group">
							{{ form_row(form.mdp, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe*'}}) }}
						</div>

						<div class="form-group">
							{{ form_row(form.confirmPassword, {'attr': {'class': 'form-control', 'placeholder': 'Confirmer votre mot de passe*'}}) }}
						</div>


						<div class="form-group">
							<div class="custom-file-input-container">
								<label for="{{ form.photo_profil.vars.id }}" class="custom-file-label">
									<i id="profile-preview" class="fas fa-user"></i>
								</label>
								{# Affichage du widget du champ file, masqué via CSS #}
								{{ form_widget(form.photo_profil, {'attr': {'id': form.photo_profil.vars.id, 'class': 'hidden-file-input'}}) }}
							</div>
						</div>


						<div class="form-group2 mb-0 text-center">
							<button class="vs-btn w-100 style4" type="submit">
								S'inscrire
							</button>
							<div class="bottom-links link-inherit pt-3">
								<span>Vous avez déjà un compte ?
									<a class="text-theme" href="{{ path('app_seconnecter') }}">Se connecter</a>
								</span>

							</div>
						</div>
						{{ form_end(form) }}

					</div>
				</div>
			</div>
		</div>
	</section>


	<style>
		.custom-file-input-container {
			position: relative;
			width: 150px;
			height: 150px;
			margin: 0 auto;
		}

		.custom-file-label {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 150px;
			height: 150px;
			border-radius: 50%;
			background-color: #f0f0f0;
			border: 2px dashed #ccc;
			cursor: pointer;
			transition: border-color 0.3s ease;
			overflow: hidden; /* Cela garantit que l'image respecte la forme circulaire */

		}

		.custom-file-label:hover {
			border-color: var(--theme-color);
		}

		.custom-file-label i {
			font-size: 72px; /* Taille de l'icône */
			color: #ccc; /* Couleur de l'icône */
		}
		.custom-file-label img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		/* Masquer le champ file natif */
		.hidden-file-input {
			display: none;
		}


		.form-group {
			color: #ff681a;

		}
		.form-group2 {
			color: black;

		}
	</style>
	<script>
		document.getElementById('{{ form.photo_profil.vars.id }}').addEventListener('change', function (event) {
var previewContainer = document.getElementById('profile-preview').parentElement;
if (event.target.files && event.target.files[0]) { // Crée une URL temporaire pour le fichier sélectionné
var imageUrl = URL.createObjectURL(event.target.files[0]);
// Crée l'élément image pour la prévisualisation
previewContainer.innerHTML = '<img id="profile-preview" src="' + imageUrl + '" alt="Photo de profil" />';
}
});
	</script>


	<!-- Sign Up Area End -->


	<!--********************************
																																																																										  Code Ends Here 
																																																																											******************************** -->

	<!-- Scroll To Top -->
		<a href="#" class="scrollToTop scroll-btn"> <i class="far fa-arrow-up"></i>
	</a>

{% endblock %}
