{% extends 'base1.html.twig' %}
{% block body %}
	<!-- Add CSRF Token Meta -->
	<meta
	name="csrf-token" content="{{ csrf_token('delete') }}">

	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	<div class="wrapper">
		<div class="sidebar" data-color="orange" data-background-color="black" data-image="{{ asset('assets/img/sidebar-1.jpg') }}">
			<div class="logo">
				<a href="http://www.creative-tim.com/" class="simple-text logo-mini">Picture</a>
				<a href="http://www.creative-tim.com/" class="simple-text logo-normal">Logo</a>
			</div>
			<div class="sidebar-wrapper">
				<div class="user">
					<div class="photo">
						<img src="{{ asset('assets/img/faces/avatar.jpg') }}"/>
					</div>
					<div class="user-info">
						<a data-toggle="collapse" href="#collapseExample" class="username">
							<span>USER NAME
								<b class="caret"></b>
							</span>
						</a>
						<div class="collapse" id="collapseExample">
							<ul class="nav">
								<li class="nav-item">
									<a class="nav-link" href="#">
										<span class="sidebar-mini">MP</span>
										<span class="sidebar-normal">My Profile</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">
										<span class="sidebar-mini">EP</span>
										<span class="sidebar-normal">Edit Profile</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">
										<span class="sidebar-mini">S</span>
										<span class="sidebar-normal">Settings</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link" href="dashboard.html">
							<i class="material-icons">dashboard</i>
							<p>Dashboard</p>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_back_office') }}">
							<i class="material-icons">User</i>
							<p>Gestion User</p>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#gestionHotelMenu">
							<i class="material-icons">apartment</i>
							<p>Gestion Hotel
								<b class="caret"></b>
							</p>
						</a>
						<div class="collapse" id="gestionHotelMenu">
							<ul class="nav">
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_back_hotel_index') }}">
										<span class="sidebar-mini">H</span>
										<span class="sidebar-normal">Hotel</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_back_chambre') }}">
										<span class="sidebar-mini">C</span>
										<span class="sidebar-normal">Chambre</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#gestionCircuitMenu">
							<i class="material-icons">map</i>
							<p>Gestion Circuit
								<b class="caret"></b>
							</p>
						</a>
						<div class="collapse" id="gestionCircuitMenu">
							<ul class="nav">
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_back_activite') }}">
										<span class="sidebar-mini">A</span>
										<span class="sidebar-normal">Activite</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_back_session') }}">
										<span class="sidebar-mini">S</span>
										<span class="sidebar-normal">Session</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#gestionVolMenu">
							<i class="material-icons">flight</i>
							<p>Gestion Vols
								<b class="caret"></b>
							</p>
						</a>
						<div class="collapse" id="gestionVolMenu">
							<ul class="nav">
								<li class="nav-item">
<<<<<<< Updated upstream
<<<<<<< Updated upstream
									<a class="nav-link" href="{{ path('app_back_vol') }}">
=======
									<a class="nav-link" href="{{ path('app_back_vol_index') }}">
>>>>>>> Stashed changes
=======
									<a class="nav-link" href="{{ path('app_back_vol_index') }}">
>>>>>>> Stashed changes
										<span class="sidebar-mini">V</span>
										<span class="sidebar-normal">Vols</span>
									</a>
								</li>
								<li class="nav-item">
<<<<<<< Updated upstream
<<<<<<< Updated upstream
									<a class="nav-link" href="{{ path('app_back_checkout') }}">
=======
									<a class="nav-link" href="{{ path('app_back_checkoutvol_list') }}">
>>>>>>> Stashed changes
=======
									<a class="nav-link" href="{{ path('app_back_checkoutvol_list') }}">
>>>>>>> Stashed changes
										<span class="sidebar-mini">C</span>
										<span class="sidebar-normal">Check Out</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="nav-item active">
						<a class="nav-link" data-toggle="collapse" href="#gestionVehiculeMenu">
							<i class="material-icons">directions_car</i>
							<p>Gestion Location
								<b class="caret"></b>
							</p>
						</a>
						<div class="collapse show" id="gestionVehiculeMenu">
							<ul class="nav">
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_back_vehicule') }}">
										<span class="sidebar-mini">V</span>
										<span class="sidebar-normal">Vehicule</span>
									</a>
								</li>
								<li class="nav-item active">
									<a class="nav-link active" href="{{ path('app_back_contrat') }}">
										<span class="sidebar-mini">C</span>
										<span class="sidebar-normal">Contrat</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#gestionForumMenu">
							<i class="material-icons">forum</i>
							<p>Gestion Forum
								<b class="caret"></b>
							</p>
						</a>
						<div class="collapse" id="gestionForumMenu">
							<ul class="nav">
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_back_forum') }}">
										<span class="sidebar-mini">F</span>
										<span class="sidebar-normal">Forum</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_back_post') }}">
										<span class="sidebar-mini">P</span>
										<span class="sidebar-normal">Post</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#gestionReclamationMenu">
							<i class="material-icons">restore</i>
							<p>Gestion Reclamation
								<b class="caret"></b>
							</p>
						</a>
						<div class="collapse" id="gestionReclamationMenu">
							<ul class="nav">
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_back_reclamation') }}">
										<span class="sidebar-mini">R</span>
										<span class="sidebar-normal">Reclamation</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_back_reponse') }}">
										<span class="sidebar-mini">R</span>
										<span class="sidebar-normal">Reponse</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
			<div class="sidebar-background"></div>
		</div>
		<div class="main-panel">
			<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
				<div class="container-fluid">
					<div class="navbar-wrapper">
						<div class="navbar-minimize">
							<button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
								<i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
								<i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
							</button>
						</div>
						<a class="navbar-brand" href="javascript:;">Tableau des Contrats</a>
					</div>
					<button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
						<span class="sr-only">Toggle navigation</span>
						<span class="navbar-toggler-icon icon-bar"></span>
						<span class="navbar-toggler-icon icon-bar"></span>
						<span class="navbar-toggler-icon icon-bar"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-end">
						<form class="navbar-form">
							<div class="input-group no-border">
								<input type="text" value="" class="form-control" placeholder="Search...">
								<button type="submit" class="btn btn-white btn-round btn-just-icon">
									<i class="material-icons">search</i>
									<div class="ripple-container"></div>
								</button>
							</div>
						</form>
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="javascript:;">
									<i class="material-icons">dashboard</i>
									<p class="d-lg-none d-md-block">Stats</p>
								</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link" href="http://example.com/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="material-icons">notifications</i>
									<span class="notification">5</span>
									<p class="d-lg-none d-md-block">Some Actions</p>
								</a>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
									<a class="dropdown-item" href="#">Mike John responded to your email</a>
									<a class="dropdown-item" href="#">You have 5 new tasks</a>
									<a class="dropdown-item" href="#">You're now friend with Andrew</a>
									<a class="dropdown-item" href="#">Another Notification</a>
									<a class="dropdown-item" href="#">Another One</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="material-icons">person</i>
									<p class="d-lg-none d-md-block">Account</p>
								</a>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
									<a class="dropdown-item" href="#">Profile</a>
									<a class="dropdown-item" href="#">Settings</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Log out</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header card-header-primary card-header-icon card-header-warning">
									<div class="card-icon">
										<i class="material-icons">assignment</i>
									</div>
									<h4 class="card-title">Tableau des Contrats</h4>
								</div>
								<div class="card-body">
									<div class="toolbar">
										<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addContratModal">
											<i class="material-icons">add</i>
											Ajouter un contrat
										</button>
										<a href="https://calendar.google.com" target="_blank" class="btn btn-warning">
											<i class="material-icons">calendar_today</i>
											Google Calendar
										</a>
										<button type="button" class="btn btn-info sync-all-contracts">
											<i class="material-icons">sync</i>
											Sync All Contracts
										</button>
									</div>
									<div class="material-datatables">
										<table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
											<thead>
												<tr>
													<th>Date Début</th>
													<th>Date Fin</th>
													<th>CIN Locataire</th>
													<th>Matricule</th>
													<th>Photo Permis</th>
													<th>Actions</th>
												</tr>
											</thead>
											<tfoot>
												<tr>
													<th>Date Début</th>
													<th>Date Fin</th>
													<th>CIN Locataire</th>
													<th>Matricule</th>
													<th>Photo Permis</th>
													<th class="text-right">Actions</th>
												</tr>
											</tfoot>
											<tbody>
												{% for contrat in contrats %}
													<tr data-id="{{ contrat.idLocation }}" data-matricule="{{ contrat.idVehicule.matricule }}">
														<td>{{ contrat.dateD|date('Y-m-d') }}</td>
														<td>{{ contrat.dateF|date('Y-m-d') }}</td>
														<td>{{ contrat.cinLocateur }}</td>
														<td>{{ contrat.idVehicule.matricule }}</td>
														<td>
															{% if contrat.photoPermit %}
																<img src="{{ asset('Uploads/permits/' ~ contrat.photoPermit) }}" alt="Photo Permis" style="max-width: 100px;">
															{% else %}
																Pas de photo
															{% endif %}
														</td>
														<td>
															<button class="btn btn-info btn-sm edit" data-id-location="{{ contrat.idLocation }}" data-date-d="{{ contrat.dateD|date('Y-m-d') }}" data-date-f="{{ contrat.dateF|date('Y-m-d') }}" data-cin-locateur="{{ contrat.cinLocateur }}" data-id-vehicule="{{ contrat.idVehicule.id_vehicule }}" data-photo-permit="{{ contrat.photoPermit }}">
																<i class="fa fa-edit"></i>
															</button>
															<button class="btn btn-danger btn-sm delete-contrat" data-id="{{ contrat.idLocation }}">
																<i class="fa fa-trash"></i>
															</button>
															<button class="btn btn-primary btn-sm generate-pdf" data-id="{{ contrat.idLocation }}">
																<i class="fa fa-file-pdf-o"></i>
															</button>
														</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>

									<!-- Add buttons under the table -->
									<div class="row mt-3">
										<div class="col-md-12">
											<button type="button" class="btn btn-info send-sms" data-bs-toggle="modal" data-bs-target="#smsModal">
												<i class="fas fa-sms"></i>
												Send SMS Notification
											</button>
											<button type="button" class="btn btn-primary generate-qr" data-toggle="modal" data-target="#qrModal">
												<i class="fas fa-qrcode"></i>
												Generate QR Code
											</button>
											<button class="btn btn-success send-mail" data-toggle="modal" data-target="#mailModal">
												<i class="fas fa-envelope"></i>
												Send Email
											</button>
										</div>
									</div>

									<!-- Add Contract Modal -->
									<div class="modal fade" id="addContratModal" tabindex="-1" role="dialog" aria-labelledby="addContratModalLabel" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="addContratModalLabel">Ajouter un Contrat</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">×</span>
													</button>
												</div>
												<div class="modal-body">
													<form id="addContratForm" enctype="multipart/form-data">
														<div class="form-group">
															<label for="dateD">Date de début</label>
															<input type="text" class="form-control datepicker" id="dateD" name="contrat[dateD]" required placeholder="YYYY-MM-DD">
														</div>

														<div class="form-group">
															<label for="dateF">Date de fin</label>
															<input type="text" class="form-control datepicker" id="dateF" name="contrat[dateF]" required placeholder="YYYY-MM-DD">
														</div>

														<div class="form-group">
															<label for="cinLocateur">CIN Locataire</label>
															<input type="text" class="form-control" id="cinLocateur" name="contrat[cinLocateur]" required pattern="[0-9]{8}" maxlength="8">
														</div>

														<div class="form-group">
															<label for="vehicule">Véhicule</label>
															<select class="form-control" id="vehicule" name="contrat[id_vehicule]" required>
																{% for vehicule in vehicules %}
																	<option value="{{ vehicule.id_vehicule }}">{{ vehicule.matricule }}</option>
																{% endfor %}
															</select>
														</div>

														<div class="form-group">
															<label for="photo_permit">Photo Permis</label>
															<div class="custom-file">
																<input type="file" class="custom-file-input" id="photo_permit" name="contrat[photo_permit]" accept="image/*">
																<label class="custom-file-label" for="photo_permit">Choisir une image</label>
															</div>
															<div id="previewPhotoPermit" class="mt-2" style="display: none;">
																<img src="" alt="Preview permit photo" class="img-thumbnail" style="max-width: 200px;">
															</div>
														</div>
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
													<button type="button" class="btn btn-primary" id="submitContrat">Enregistrer</button>
												</div>
											</div>
										</div>
									</div>

									<!-- Edit Modal -->
									<div class="modal fade" id="editContratModal" tabindex="-1" role="dialog" aria-labelledby="editContratModalLabel" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="editContratModalLabel">Modifier le Contrat</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">×</span>
													</button>
												</div>
												<div class="modal-body">
													<form id="editContratForm" method="post" enctype="multipart/form-data">
														<input type="hidden" id="editId" name="contrat[id]">

														<div class="form-group">
															<label for="editDateD">Date de début</label>
															<input type="text" class="form-control datepicker" id="editDateD" name="contrat[dateD]" required>
														</div>

														<div class="form-group">
															<label for="editDateF">Date de fin</label>
															<input type="text" class="form-control datepicker" id="editDateF" name="contrat[dateF]" required>
														</div>

														<div class="form-group">
															<label for="editCinLocateur">CIN Locataire</label>
															<input type="text" class="form-control" id="editCinLocateur" name="contrat[cinLocateur]" required>
														</div>

														<div class="form-group">
															<label for="editVehicule">Véhicule</label>
															<select class="form-control" id="editVehicule" name="contrat[id_vehicule]" required>
																{% for vehicule in vehicules %}
																	<option value="{{ vehicule.id_vehicule }}">{{ vehicule.matricule }}</option>
																{% endfor %}
															</select>
														</div>

														<div class="form-group">
															<label for="editPhotoPermit">Photo Permis</label>
															<div class="custom-file">
																<input type="file" class="custom-file-input" id="editPhotoPermit" name="contrat[photo_permit]" accept="image/*">
																<label class="custom-file-label" for="editPhotoPermit">Choisir une image</label>
															</div>
															<div id="previewEditPhotoPermit" class="mt-2" style="display: none;">
																<img src="" alt="Preview permit photo" class="img-thumbnail" style="max-width: 200px;">
															</div>
														</div>
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
													<button type="button" class="btn btn-primary" id="saveContratChanges">Enregistrer</button>
												</div>
											</div>
										</div>
									</div>

									<!-- QR Code Modal -->
									<div class="modal fade" id="qrModal" tabindex="-1" role="dialog" aria-labelledby="qrModalLabel" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="qrModalLabel">Generate QR Code</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<div id="qrCodeContainer" class="text-center mt-3" style="display: none;">
														<img id="generatedQrCode" src="" alt="Generated QR Code" class="img-fluid">
														<div class="mt-2">
															<a href="#" id="qrDownloadLink" class="btn btn-success" download>
																<i class="fa fa-download"></i>
																Download QR Code
															</a>
														</div>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
									</div>

									<!-- Mail Modal -->
									<div class="modal fade" id="mailModal" tabindex="-1" role="dialog" aria-labelledby="mailModalLabel" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="mailModalLabel">Send Contract by Email</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<form id="mailForm">
														<input type="hidden" id="mailContratId" name="contratId">
														<input type="hidden" id="mailMatricule" name="matricule">
														<div class="form-group">
															<label for="emailAddress">Email Address:</label>
															<input type="email" class="form-control" id="emailAddress" name="emailAddress" required placeholder="example@email.com">
															<small class="form-text text-muted">The contract will be sent as a PDF attachment</small>
														</div>
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
													<button type="button" class="btn btn-success" id="sendMailBtn">Send Email</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container-fluid">
					<nav class="float-left">
						<ul>
							<li><a href="https://www.creative-tim.com/">Creative Tim</a></li>
							<li><a href="https://creative-tim.com/presentation">About Us</a></li>
							<li><a href="http://blog.creative-tim.com/">Blog</a></li>
							<li><a href="https://www.creative-tim.com/license">Licenses</a></li>
						</ul>
					</nav>
					<div class="copyright float-right">
						©
						<script>
							document.write(new Date().getFullYear())
						</script>, made with
						<i class="material-icons">favorite</i>
						by
						<a href="https://www.creative-tim.com/" target="_blank">Creative Tim</a>
						for a better web.
					</div>
				</div>
			</footer>
		</div>
	</div>
	<div class="fixed-plugin">
		<div class="dropdown show-dropdown">
			<a href="#" data-toggle="dropdown">
				<i class="fa fa-cog fa-2x"></i>
			</a>
			<ul class="dropdown-menu">
				<li class="header-title">Sidebar Filters</li>
				<li class="adjustments-line">
					<a href="javascript:void(0)" class="switch-trigger active-color">
						<div class="badge-colors ml-auto mr-auto">
							<span class="badge filter badge-purple" data-color="purple"></span>
							<span class="badge filter badge-azure" data-color="azure"></span>
							<span class="badge filter badge-green" data-color="green"></span>
							<span class="badge filter badge-warning" data-color="orange"></span>
							<span class="badge filter badge-danger" data-color="danger"></span>
							<span class="badge filter badge-rose active" data-color="rose"></span>
						</div>
						<div class="clearfix"></div>
					</a>
				</li>
				<li class="header-title">Sidebar Background</li>
				<li class="adjustments-line">
					<a href="javascript:void(0)" class="switch-trigger background-color">
						<div class="ml-auto mr-auto">
							<span class="badge filter badge-black active" data-background-color="black"></span>
							<span class="badge filter badge-white" data-background-color="white"></span>
							<span class="badge filter badge-red" data-background-color="red"></span>
						</div>
						<div class="clearfix"></div>
					</a>
				</li>
				<li class="adjustments-line">
					<a href="javascript:void(0)" class="switch-trigger">
						<p>Sidebar Mini</p>
						<label class="ml-auto">
							<div class="togglebutton switch-sidebar-mini">
								<label>
									<input type="checkbox">
									<span class="toggle"></span>
								</label>
							</div>
						</label>
						<div class="clearfix"></div>
					</a>
				</li>
				<li class="adjustments-line">
					<a href="javascript:void(0)" class="switch-trigger">
						<p>Sidebar Images</p>
						<label class="switch-mini ml-auto">
							<div class="togglebutton switch-sidebar-image">
								<label>
									<input type="checkbox" checked="">
									<span class="toggle"></span>
								</label>
							</div>
						</label>
						<div class="clearfix"></div>
					</a>
				</li>
				<li class="header-title">Images</li>
				<li class="active">
					<a class="img-holder switch-trigger" href="javascript:void(0)">
						<img src="{{ asset('assets/img/sidebar-1.jpg')}}" alt="">
					</a>
				</li>
				<li>
					<a class="img-holder switch-trigger" href="javascript:void(0)">
						<img src="{{ asset('assets/img/sidebar-2.jpg')}}" alt="">
					</a>
				</li>
				<li>
					<a class="img-holder switch-trigger" href="javascript:void(0)">
						<img src="{{ asset('assets/img/sidebar-3.jpg')}}" alt="">
					</a>
				</li>
				<li>
					<a class="img-holder switch-trigger" href="javascript:void(0)">
						<img src="{{ asset('assets/img/sidebar-4.jpg')}}" alt="">
					</a>
				</li>
				<li class="button-container">
					<a href="https://www.creative-tim.com/product/material-dashboard-pro" target="_blank" class="btn btn-rose btn-block btn-fill">Buy Now</a>
					<a href="https://demos.creative-tim.com/material-dashboard-pro/docs/2.1/getting-started/introduction.html" target="_blank" class="btn btn-default btn-block">Documentation</a>
					<a href="https://www.creative-tim.com/product/material-dashboard" target="_blank" class="btn btn-info btn-block">Get Free Demo!</a>
				</li>
				<li class="button-container github-star">
					<a class="github-button" href="https://github.com/creativetimofficial/ct-material-dashboard-pro" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ntkme/github-buttons on GitHub">Star</a>
				</li>
				<li class="header-title">Thank you for 95 shares!</li>
				<li class="button-container text-center">
					<button id="twitter" class="btn btn-round btn-twitter">
						<i class="fa fa-twitter"></i>
						· 45</button>
					<button id="facebook" class="btn btn-round btn-facebook">
						<i class="fa fa-facebook-f"></i>
						· 50</button>
					<br><br>
				</li>
			</ul>
		</div>
	</div>
	<!-- Core JS Files -->
	<script src="{{ asset('assets/js/core/jquery.min.js') }}"></script>
	<script src="{{ asset('assets/js/core/popper.min.js') }}"></script>
	<script src="{{ asset('assets/js/core/bootstrap-material-design.min.js') }}"></script>
	<script src="{{ asset('assets/js/plugins/perfect-scrollbar.min.js') }}"></script>
	<!-- Plugin for Moment.js -->
	<script src="{{ asset('assets/js/plugins/moment.min.js') }}"></script>
	<!-- Plugin for Sweet Alert -->
	<script src="{{ asset('assets/js/plugins/sweetalert2.js') }}"></script>
	<!-- Forms Validation Plugin -->
	<script src="{{ asset('assets/js/plugins/jquery.validate.min.js') }}"></script>
	<!-- Plugin for the Wizard -->
	<script src="{{ asset('assets/js/plugins/jquery.bootstrap-wizard.js') }}"></script>
	<!-- Plugin for Select -->
	<script src="{{ asset('assets/js/plugins/bootstrap-selectpicker.js') }}"></script>
	<!-- Plugin for the DateTimePicker -->
	<script src="{{ asset('assets/js/plugins/bootstrap-datetimepicker.min.js') }}"></script>
	<!-- DataTables.net Plugin -->
	<script src="{{ asset('assets/js/plugins/jquery.dataTables.min.js') }}"></script>
	<!-- Plugin for Tags -->
	<script src="{{ asset('assets/js/plugins/bootstrap-tagsinput.js') }}"></script>
	<!-- Plugin for File Upload -->
	<script src="{{ asset('assets/js/plugins/jasny-bootstrap.min.js') }}"></script>
	<!-- Full Calendar Plugin -->
	<script src="{{ asset('assets/js/plugins/fullcalendar.min.js') }}"></script>
	<!-- Vector Map Plugin -->
	<script src="{{ asset('assets/js/plugins/jquery-jvectormap.js') }}"></script>
	<!-- Plugin for Sliders -->
	<script src="{{ asset('assets/js/plugins/nouislider.min.js') }}"></script>
	<!-- ES6 Promises Polyfill (optional) -->
	<script src="{{ asset('assets/js/core-js/2.4.1/core.js') }}"></script>
	<!-- Library for adding dynamic elements -->
	<script src="{{ asset('assets/js/plugins/arrive.min.js') }}"></script>
	<!-- Google Maps Plugin -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Yno10-YTnLjjn_Vtk0V8cdcY5lC4plU"></script>
	<!-- GitHub Buttons -->
	<script async defer src="https://buttons.github.io/buttons.js"></script>
	<!-- Chartist JS -->
	<script src="{{ asset('assets/js/plugins/chartist.min.js') }}"></script>
	<!-- Notifications Plugin -->
	<script src="{{ asset('assets/js/plugins/bootstrap-notify.js') }}"></script>
	<!-- Control Center for Material Dashboard -->
	<script src="{{ asset('assets/js/material-dashboard.min.js') }}" type="text/javascript"></script>
	<!-- Sharrre library -->
	<script src="{{ asset('assets/demo/jquery.sharrre.js') }}"></script>
	<script>
		$(document).ready(function () { // Destroy any existing DataTable instance
if ($.fn.DataTable.isDataTable('#datatables')) {
$('#datatables').DataTable().destroy();
}

// Initialize DataTable with selection
var table = $('#datatables').DataTable({
pagingType: "full_numbers",
lengthMenu: [
[
1, 2, 3, -1
],
[
1, 2, 3, "All"
]
],
responsive: true,
language: {
search: "",
searchPlaceholder: "Chercher",
lengthMenu: "Afficher _MENU_ entrées",
select: {
rows: {
_: "%d lignes sélectionnées",
0: "Cliquez sur une ligne pour la sélectionner",
1: "1 ligne sélectionnée"
}
}
},
select: {
style: 'single',
info: true
}
});

// Handle row selection with visual feedback
$('#datatables tbody').on('click', 'tr', function () {
if ($(this).hasClass('selected')) {
$(this).removeClass('selected');
} else {
table.$('tr.selected').removeClass('selected');
$(this).addClass('selected');
}
});

// Generate QR Code Button Click Handler
$('.generate-qr').on('click', function (e) {
e.preventDefault();
var selectedRows = table.rows('.selected').data();
if (selectedRows.length === 0) {
Swal.fire({icon: 'warning', title: 'Aucune sélection', text: 'Veuillez sélectionner un contrat pour générer le QR code'});
return;
}

// Get the contract ID from the selected row's data attributes
var selectedRowNode = table.row('.selected').node();
var contratId = $(selectedRowNode).data('id');

// Show loading state
Swal.fire({
title: 'Génération du QR Code',
text: 'Veuillez patienter...',
allowOutsideClick: false,
didOpen: () => {
Swal.showLoading();
}
});

// Log the data being sent
console.log('Sending contract ID:', contratId);

$.ajax({
url: "{{ path('app_back_contrat_convert_to_qr') }}",
type: 'POST',
data: JSON.stringify(
{contratId: contratId}
),
contentType: 'application/json',
success: function (response) {
console.log('QR Code response:', response);
Swal.close();
if (response.success) {
$('#qrCodeContainer').show();
$('#generatedQrCode').attr('src', response.qrCodeUrl);
$('#qrDownloadLink').attr('href', response.qrCodeUrl);
$('#qrModal').modal('show');
} else {
Swal.fire({
icon: 'error',
title: 'Erreur',
text: response.message || 'Échec de la génération du QR Code'
});
}
},
error: function (xhr, status, error) {
console.error('QR Code error:', {
status: xhr.status,
statusText: xhr.statusText,
responseText: xhr.responseText
});
Swal.close();
Swal.fire({
icon: 'error',
title: 'Erreur',
text: 'Échec de la génération du QR Code: ' + (
xhr.responseJSON ?. message || error
)
});
}
});
});

// SMS Button Click Handler
$('[data-bs-target="#smsModal"]').on('click', function () {
var selectedRows = table.rows('.selected').data();
if (selectedRows.length === 0) {
Swal.fire({icon: 'warning', title: 'Aucune sélection', text: 'Veuillez sélectionner un contrat pour envoyer un SMS'});
return;
}

// Get the contract ID and matricule from the selected row's data attributes
var selectedRowNode = table.row('.selected').node();
var contratId = $(selectedRowNode).data('id');
var matricule = $(selectedRowNode).data('matricule');

$('#smsContratId').val(contratId);
$('#smsMatricule').val(matricule);
$('#smsModal').modal('show');
});

// Send SMS Button Click Handler
$('#sendSmsBtn').on('click', function () {
const phoneNumber = $('#phoneNumber').val();
const contratId = $('#smsContratId').val();
const matricule = $('#smsMatricule').val();

if (! phoneNumber.match(/^\+[1-9]\d{1,14}$/)) {
Swal.fire({icon: 'error', title: 'Erreur de validation', text: 'Veuillez entrer un numéro de téléphone valide au format international (E.164)'});
return;
}

Swal.fire({
title: 'Envoi du SMS',
text: 'Veuillez patienter...',
allowOutsideClick: false,
didOpen: () => {
Swal.showLoading();
}
});

$.ajax({
url: '{{ path('app_back_contrat_send_sms') }}',
method: 'POST',
data: JSON.stringify(
{contratId: contratId, phoneNumber: phoneNumber, matricule: matricule}
),
contentType: 'application/json',
success: function (response) {
Swal.fire({icon: 'success', title: 'Succès', text: 'SMS envoyé avec succès!'});
$('#smsModal').modal('hide');
table.rows().deselect();
},
error: function (xhr) {
Swal.fire({
icon: 'error',
title: 'Erreur',
text: 'Erreur lors de l\'envoi du SMS: ' + (
xhr.responseJSON ?. message || 'Erreur inconnue'
)
});
}
});
});

// Initialize date pickers
$('.datepicker').datetimepicker({
format: 'YYYY-MM-DD',
icons: {
time: "fa fa-clock-o",
date: "fa fa-calendar",
up: "fa fa-chevron-up",
down: "fa fa-chevron-down",
previous: 'fa fa-chevron-left',
next: 'fa fa-chevron-right',
today: 'fa fa-screenshot',
clear: 'fa fa-trash',
close: 'fa fa-remove'
}
});

// Handle photo preview
$('#photo_permit').on('change', function () {
var file = this.files[0];
if (file) {
var reader = new FileReader();
reader.onload = function (e) {
$('#previewPhotoPermit').show();
$('#previewPhotoPermit img').attr('src', e.target.result);
};
reader.readAsDataURL(file);
$(this).next('.custom-file-label').html(file.name);
}
});

// Handle form submission
var isSubmitting = false;
$('#addContratForm').on('submit', function (e) {
e.preventDefault();
if (isSubmitting) 
return;


var $form = $(this);
var $submitBtn = $('#submitContrat');

// Disable submit button
$submitBtn.prop('disabled', true).html('<i class="fa fa-spinner fa-spin"></i> Enregistrement...');

// Get form data
var dateD = $form.find('input[name="contrat[dateD]"]').val();
var dateF = $form.find('input[name="contrat[dateF]"]').val();
var cinLocateur = $form.find('input[name="contrat[cinLocateur]"]').val();
var vehicule = $form.find('select[name="contrat[id_vehicule]"]').val();
var photoPermit = $form.find('input[name="contrat[photo_permit]"]')[0].files[0];

// Validate required fields
if (! dateD || ! dateF || ! cinLocateur || ! vehicule) {
Swal.fire({icon: 'error', title: 'Validation Error', text: 'All fields are required'});
$submitBtn.prop('disabled', false).html('Enregistrer');
return;
}

// Validate dates
var startDate = new Date(dateD);
var endDate = new Date(dateF);

if (endDate < startDate) {
Swal.fire({icon: 'error', title: 'Validation Error', text: 'End date cannot be before start date'});
$submitBtn.prop('disabled', false).html('Enregistrer');
return;
}

// Create FormData object
var formData = new FormData();
formData.append('contrat[dateD]', dateD);
formData.append('contrat[dateF]', dateF);
formData.append('contrat[cinLocateur]', cinLocateur);
formData.append('contrat[id_vehicule]', vehicule);
if (photoPermit) {
formData.append('contrat[photo_permit]', photoPermit);
}

isSubmitting = true;

// Send the request
$.ajax({
url: '{{ path('app_back_contrat_new') }}',
type: 'POST',
data: formData,
processData: false,
contentType: false,
success: function (response) {
isSubmitting = false;
if (response.status === 'success') { // Reset form and close modal
$form[0].reset();
$('#previewPhotoPermit').hide();
$('.custom-file-label').html('Choose file');
$('#addContratModal').modal('hide');

// Show success message
Swal.fire({icon: 'success', title: 'Success', text: 'Contract added successfully', timer: 1500}).then(function () { // Reload the page to show new data
window.location.reload();
});
} else {
Swal.fire({
icon: 'error',
title: 'Error',
text: response.message || 'Failed to add contract'
});
}
},
error: function (xhr) {
isSubmitting = false;
Swal.fire({
icon: 'error',
title: 'Error',
text: xhr.responseJSON ?. message || 'Failed to add contract'
});
},
complete: function () {
$submitBtn.prop('disabled', false).html('Enregistrer');
}
});
});

// Remove click handler from submit button as we're handling form submit
$('#submitContrat').off('click');

// Function to add contract to Google Calendar
function addToGoogleCalendar(contratId) {
$.ajax({
url: "{{ path('app_back_contrat_add_to_calendar', {'id': 'CONTRACT_ID'}) }}".replace('CONTRACT_ID', contratId),
method: 'POST',
success: function (response) {
if (response.success) {
return true;
} else {
if (response.message.includes('authenticate')) { // If authentication is needed, redirect to auth page
window.location.href = '{{ path('app_back_contrat_google_calendar_auth') }}';
return false;
}
return false;
}
},
error: function (xhr) {
return false;
}
});
}

// Sync All Contracts Button Click Handler
$('.sync-all-contracts').on('click', function () { // Show loading state
Swal.fire({
title: 'Syncing Contracts',
text: 'Adding all contracts to Google Calendar...',
allowOutsideClick: false,
didOpen: () => {
Swal.showLoading();
}
});

// Call the bulk sync endpoint
$.ajax({
url: "{{ path('app_back_contrat_sync_all_to_calendar') }}",
method: 'POST',
success: function (response) {
if (response.success) {
Swal.fire({
icon: 'success',
title: 'Sync Complete',
text: response.message,
confirmButtonText: 'View in Calendar',
showCancelButton: true,
cancelButtonText: 'Close'
}).then((result) => {
if (result.isConfirmed) {
window.open('https://calendar.google.com', '_blank');
}
});
} else {
if (response.message && response.message.includes('authenticate')) {
window.location.href = '{{ path('app_back_contrat_google_calendar_auth') }}';
} else {
Swal.fire({icon: 'error', title: 'Sync Failed', text: response.message});
}
}
},
error: function (xhr) {
Swal.fire({icon: 'error', title: 'Sync Failed', text: 'An error occurred while syncing contracts'});
}
});
});

// Clear form when modal is closed
$('#addContratModal').on('hidden.bs.modal', function () {
$('#addContratForm')[0].reset();
$('#previewPhotoPermit').hide();
$('.custom-file-label').html('Choose file');
// Re-enable the submit button
$('#submitContrat').prop('disabled', false);
});

// Edit button click handler
$(document).on('click', '.edit', function (e) {
e.preventDefault();
var button = $(this);

$('#editId').val(button.data('id-location'));
$('#editDateD').val(button.data('date-d'));
$('#editDateF').val(button.data('date-f'));
$('#editCinLocateur').val(button.data('cin-locateur'));
$('#editVehicule').val(button.data('id-vehicule'));

// Handle photo preview
var photoPermit = button.data('photo-permit');
if (photoPermit) {
$('#previewEditPhotoPermit').show();
$('#previewEditPhotoPermit img').attr('src', '/Uploads/permits/' + photoPermit);
} else {
$('#previewEditPhotoPermit').hide();
}

$('#editContratModal').modal('show');
});

// Save changes button click handler
$('#saveContratChanges').on('click', function (e) {
e.preventDefault();
var id = $('#editId').val();
var formData = new FormData($('#editContratForm')[0]);

$.ajax({
url: '/back/contrat/' + id + '/edit',
type: 'POST',
data: formData,
processData: false,
contentType: false,
success: function (response) { // Automatically update Google Calendar after successful contract update
addToGoogleCalendar(id);
},
error: function (xhr, status, error) {
$('#editContratModal').modal('hide');
location.reload();
}
});
});

// Delete button click handler
$(document).on('click', '.delete-contrat', function (e) {
e.preventDefault();
var button = $(this);
var id = button.data('id');

if (confirm('Êtes-vous sûr de vouloir supprimer ce contrat?')) {
$.ajax({
url: '/back/contrat/delete/' + id,
type: 'POST',
success: function (response) {
location.reload();
},
error: function (xhr, status, error) {
location.reload();
}
});
}
});

// PDF Generation button click handler
$(document).on('click', '.generate-pdf', function (e) {
e.preventDefault();
var contratId = $(this).data('id');

$.ajax({
url: "{{ path('app_back_contrat_generate_pdf') }}",
type: 'POST',
data: JSON.stringify(
{id_location: contratId}
),
contentType: 'application/json',
xhrFields: {
responseType: 'blob'
},
success: function (response) {
var blob = new Blob([response], {type: 'application/pdf'});
var link = document.createElement('a');
link.href = window.URL.createObjectURL(blob);
link.download = 'contrat_' + contratId + '.pdf';
link.click();
window.URL.revokeObjectURL(link.href);
},
error: function (xhr, status, error) {
let errorMessage = 'Une erreur est survenue lors de la génération du PDF';
try {
const response = JSON.parse(xhr.responseText);
errorMessage = response.error || errorMessage;
} catch (e) {
console.error('Error parsing response:', e);
}

Swal.fire({icon: 'error', title: 'Erreur', text: errorMessage});
}
});
});

// Mail Button Click Handler
$('[data-target="#mailModal"]').on('click', function () {
var selectedRows = table.rows('.selected').data();
if (selectedRows.length === 0) {
Swal.fire({icon: 'warning', title: 'No Selection', text: 'Please select a contract to send email'});
return false;
}

// Get the first selected row's data
var rowData = selectedRows[0];
var contratId = $(rowData[5]).find('.generate-pdf').data('id');
var matricule = $(rowData[3]).text();

$('#mailContratId').val(contratId);
$('#mailMatricule').val(matricule);
$('#mailModal').modal('show');
});

// Send Mail Button Click Handler
$('#sendMailBtn').on('click', function () {
const emailAddress = $('#emailAddress').val();
const contratId = $('#mailContratId').val();
const matricule = $('#mailMatricule').val();

if (! emailAddress) {
Swal.fire({icon: 'error', title: 'Validation Error', text: 'Please enter an email address'});
return;
}

// Show loading state
Swal.fire({
title: 'Sending Email',
text: 'Please wait...',
allowOutsideClick: false,
didOpen: () => {
Swal.showLoading();
}
});

$.ajax({
url: '{{ path('app_back_contrat_send_mail') }}',
method: 'POST',
data: JSON.stringify(
{contratId: contratId, emailAddress: emailAddress, matricule: matricule}
),
contentType: 'application/json',
success: function (response) {
Swal.fire({icon: 'success', title: 'Success', text: 'Email sent successfully!'});
$('#mailModal').modal('hide');
// Clear selection after sending
table.rows().deselect();
},
error: function (xhr) {
Swal.fire({
icon: 'error',
title: 'Error',
text: xhr.responseJSON ?. message || 'Failed to send email'
});
}
});
});
});
	</script>
	<!-- Facebook Pixel Code -->
	<script>
		!function (f, b, e, v, n, t, s) {
if (f.fbq) 
return;

n = f.fbq = function () {
n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments)
};
if (! f._fbq) 
f._fbq = n;

n.push = n;
n.loaded = !0;
n.version = '2.0';
n.queue = [];
t = b.createElement(e);
t.async = !0;
t.src = v;
s = b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t, s)
}(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
try {
fbq('init', '111649226022273');
fbq('track', "PageView");
} catch (err) {
console.log('Facebook Track Error:', err);
}
	</script>
	<noscript>
		<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=111649226022273&ev=PageView&noscript=1"/>
	</noscript>
	<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"926215487d4a5bca","version":"2025.3.0","serverTiming":{"name":{"cfExtPri":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"token":"1b7cbb72744b40c580f8633c6b62637e","b":1}' crossorigin="anonymous"></script>
	<style>
		.form-group {
			margin-bottom: 25px !important;
		}

		.form-group label {
			color: #333 !important;
			font-weight: 500 !important;
			font-size: 14px !important;
			margin-bottom: 8px !important;
			display: block !important;
		}

		.form-control {
			padding: 8px 12px !important;
			height: auto !important;
			font-size: 14px !important;
			border: 1px solid #ddd !important;
			border-radius: 4px !important;
			background-color: #fff !important;
			box-shadow: none !important;
		}

		.custom-file {
			margin-top: 8px !important;
		}

		.custom-file-label {
			padding: 8px 12px !important;
			height: auto !important;
			line-height: 1.5 !important;
			background-color: #fff !important;
			border: 1px solid #ddd !important;
			border-radius: 4px !important;
			box-shadow: none !important;
		}

		.custom-file-input:focus ~ .custom-file-label {
			border-color: #fb8c00 !important;
			box-shadow: 0 0 0 0.2rem rgba(251, 140, 0, 0.25) !important;
		}

		.modal-body {
			padding: 25px !important;
		}

		.form-group select.form-control {
			height: 38px !important;
		}

		.img-thumbnail {
			margin-top: 10px !important;
			border: 2px solid #ddd !important;
		}

		.text-muted {
			margin-top: 5px !important;
			display: block !important;
		}

		/* Make date inputs more visible */
		input[type="date"].form-control {
			line-height: 1.5 !important;
			padding: 8px 12px !important;
		}

		/* Style for required fields */
		.form-group label::after {
			content: ' *';
			color: #f44336;
		}

		.error {
			color: #f44336;
			font-size: 12px;
			margin-top: 5px;
		}
	</style>
	<!-- SMS Modal -->
	<div class="modal fade" id="smsModal" tabindex="-1" role="dialog" aria-labelledby="smsModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="smsModalLabel">Send SMS Notification</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="smsForm">
						<input type="hidden" id="smsContratId" name="contratId">
						<input type="hidden" id="smsMatricule" name="matricule">
						<div class="form-group">
							<label for="phoneNumber">Phone Number (with country code, e.g., +21694006772):</label>
							<input type="text" class="form-control" id="phoneNumber" name="phoneNumber" required pattern="^\+[1-9]\d{1,14}$" placeholder="+21694006772">
							<small class="form-text text-muted">Please enter the phone number in international format (E.164)</small>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="sendSmsBtn">Send SMS</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
