{% extends 'base1.html.twig' %}

{% block css %}
	{{parent()}}
	<style>
		#sticky-todo {
			position: sticky;
			top: 90px;
			z-index: 10;
			opacity: 0;
			transform: translateY(20px);
			transition: opacity 0.6s ease-out, transform 0.6s ease-out;
			min-height: 0;
		}

		#sticky-todo.visible {
			opacity: 1;
			transform: translateY(0);
		}
	</style>

{% endblock %}
{% block body %}
	<div class="wrapper ">
		<div class="sidebar" data-color="green" data-background-color="white" data-image="../assets/img/sidebar-1.jpg" style="color: black;">
			<div class="logo" style="display: flex; justify-content: center; align-items: center; height: 120px; padding: 10px;"></div>

			<div class="sidebar-wrapper">

				<ul class="nav">
					<li class="nav-item ">
						<a class="nav-link" href="{{path('app_dash_board')}}">
							<i class="material-icons">dashboard</i>
							<p>
								Dashboard
							</p>
						</a>
					</li>


					<!-- Sector Gestion User Nav bar-->
					<li class="nav-item active">
						<a class="nav-link" href="{{path('app_back_office')}}">
							<i class="material-icons">User</i>
							<p>
								Gestion User
							</p>
						</a>
					</li>
					<!-- End Sector Gestion User Nav bar-->

					<!-- Sector Gestion Hotel Nav bar -->
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#gestionHotelMenu">
							<i class="material-icons">apartment</i>
							<p>Gestion Hotel
								<b class="caret"></b>
							</p>
						</a>
						<div class="collapse" id="gestionHotelMenu">
							<ul class="nav">
								<li class="nav-item  ">
									<a class="nav-link" href="{{path('app_back_hotel_index')}}">
										<span class="sidebar-mini">H</span>
										<span class="sidebar-normal">Hotel</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_back_chambre')}}">
										<span class="sidebar-mini">C</span>
										<span class="sidebar-normal">Chambre</span>
									</a>
								</li>
							</ul>
						</div>
					</li>


					<!-- End  Sector Gestion Hotel  Nav bar -->

					<!-- Sector Gestion Hotel Nav bar -->
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#gestionCircuitMenu">
							<i class="material-icons">map</i>
							<p>Gestion Circuit
								<b class="caret"></b>
							</p>
						</a>
						<div class="collapse" id="gestionCircuitMenu">
							<ul class="nav">
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_back_activite')}}">
										<span class="sidebar-mini">A</span>
										<span class="sidebar-normal">Activite</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_back_session')}}">
										<span class="sidebar-mini">S</span>
										<span class="sidebar-normal">Session</span>
									</a>
								</li>
							</ul>
						</div>
					</li>


					<!-- End  Sector Gestion Hotel  Nav bar -->
					<!-- Sector Gestion Vol Nav bar -->
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#gestionVolMenu">
							<i class="material-icons">flight</i>
							<p>Gestion Vols
								<b class="caret"></b>
							</p>
						</a>
						<div class="collapse" id="gestionVolMenu">
							<ul class="nav">
								<li class="nav-item">
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
									<a class="nav-link" href="{{path('app_back_vol')}}">
=======
									<a class="nav-link" href="{{path('app_back_vol_index')}}">
>>>>>>> Stashed changes
=======
									<a class="nav-link" href="{{path('app_back_vol_index')}}">
>>>>>>> Stashed changes
=======
									<a class="nav-link" href="{{path('app_back_vol_index')}}">
>>>>>>> Stashed changes
										<span class="sidebar-mini">V</span>
										<span class="sidebar-normal">Vols</span>
									</a>
								</li>
								<li class="nav-item">
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
									<a class="nav-link" href="{{path('app_back_checkout')}}">
=======
									<a class="nav-link" href="{{path('app_back_checkoutvol_list')}}">
>>>>>>> Stashed changes
=======
									<a class="nav-link" href="{{path('app_back_checkoutvol_list')}}">
>>>>>>> Stashed changes
=======
									<a class="nav-link" href="{{path('app_back_checkoutvol_list')}}">
>>>>>>> Stashed changes
										<span class="sidebar-mini">C</span>
										<span class="sidebar-normal">Check Out</span>
									</a>
								</li>
							</ul>
						</div>
					</li>


					<!-- End  Sector Gestion Vol  Nav bar -->

					<!-- Sector Gestion Vehicule Nav bar -->
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#gestionVehiculeMenu">
							<i class="material-icons">directions_car</i>
							<p>Gestion Location
								<b class="caret"></b>
							</p>
						</a>
						<div class="collapse" id="gestionVehiculeMenu">
							<ul class="nav">
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_back_vehicule')}}">
										<span class="sidebar-mini">V</span>
										<span class="sidebar-normal">Vehicule</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_back_contrat')}}">
										<span class="sidebar-mini">C</span>
										<span class="sidebar-normal">Contrat</span>
									</a>
								</li>
							</ul>
						</div>
					</li>


					<!-- End  Sector Gestion Vehicule  Nav bar -->

					<!-- Sector Gestion Forum Nav bar -->
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#gestionForumMenu">
							<i class="material-icons">forum</i>
							<p>Gestion Forum
								<b class="caret"></b>
							</p>
						</a>
						<div class="collapse" id="gestionForumMenu">
							<ul class="nav">
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_back_forum')}}">
										<span class="sidebar-mini">F</span>
										<span class="sidebar-normal">Forum</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_back_post')}}">
										<span class="sidebar-mini">P</span>
										<span class="sidebar-normal">Post</span>
									</a>
								</li>
							</ul>
						</div>
					</li>


					<!-- End  Sector Gestion Forum  Nav bar -->


					<!-- Sector Gestion Reclamation Nav bar -->
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#gestionReclamationMenu">
							<i class="material-icons">restore</i>
							<p>Gestion Reclamation
								<b class="caret"></b>
							</p>
						</a>
						<div class="collapse" id="gestionReclamationMenu">
							<ul class="nav">
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_back_reclamation')}}">
										<span class="sidebar-mini">R</span>
										<span class="sidebar-normal">Reclamation</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_back_reponse')}}">
										<span class="sidebar-mini">R</span>
										<span class="sidebar-normal">Reponse</span>
									</a>
								</li>
							</ul>
						</div>
					</li>


					<!-- End  Sector Gestion Reclamation  Nav bar -->
				</div>
				<div class="sidebar-background"></div>
			</div>


			<div
				class="main-panel">
				<!-- Navbar -->
				<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
					<div class="container-fluid">
						<div class="navbar-wrapper">
							<div class="navbar-minimize">
								<button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
									<i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
									<i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
								</button>
							</div>
							<a class="navbar-brand" href="{{path('app_dash_board')}}">Dashboard</a>
						</div>
						<button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
							<span class="sr-only">Toggle navigation</span>
							<span class="navbar-toggler-icon icon-bar"></span>
							<span class="navbar-toggler-icon icon-bar"></span>
							<span class="navbar-toggler-icon icon-bar"></span>
						</button>
						<div class="collapse navbar-collapse justify-content-end">

							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_dash_board')}}">
										<i class="material-icons">dashboard</i>
										<p class="d-lg-none d-md-block">
											Stats
										</p>
									</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="material-icons">notifications</i>
										<span id="notification-count" class="notification" style="display:none;">0</span>
										<p class="d-lg-none d-md-block">Notifications</p>
									</a>

									<div id="notification-menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
										<div id="notification-items">
											<a class="dropdown-item text-muted" href="#">Aucune notification</a>
										</div>
									</div>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="material-icons">person</i>
										<p class="d-lg-none d-md-block">
											Account
										</p>
									</a>
									<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">


										<a class="dropdown-item" href="{{path('app_logout')}}">Se déconnecter</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</nav>
				<!-- End Navbar -->
				<div class="content">
					<div class="content">
						<div class="container-fluid">


							<div class="row">
								<div class="col-lg-3 col-md-6 col-sm-6">
									<div class="card card-stats">
										<div class="card-header card-header-warning card-header-icon">
											<div class="card-icon">
												<i class="material-icons">person</i>
											</div>
											<p class="card-category">Totale des clients</p>
											<h3 class="card-title">{{ userCountRole2 }}</h3>
										</div>
										<div class="card-footer"></div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6">
									<div class="card card-stats">
										<div class="card-header card-header-rose card-header-icon">
											<div class="card-icon">
												<i class="material-icons">block</i>
											</div>
											<p class="card-category">Compte bloquer</p>
											<h3 class="card-title">{{ userCountStatus1 }}</h3>
										</div>
										<div class="card-footer"></div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6">
									<div class="card card-stats">
										<div class="card-header card-header-success card-header-icon">
											<div class="card-icon">
												<i class="material-icons">store</i>
											</div>
											<p class="card-category">Revenue</p>
											<h3 class="card-title">
												{{ totalRevenue }}
												TND
											</h3>
										</div>
										<div class="card-footer">
											<div class="stats"></div>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6">
									<div class="card card-stats">
										<div class="card-header card-header-info card-header-icon">
											<div class="card-icon">
												<i class="material-icons">report</i>
											</div>
											<p class="card-category">Demende de Reclamation</p>
											<h3 class="card-title">0</h3>
										</div>
										<div class="card-footer">
											<div class="stats"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-9" style="border-radius: 15px; box-shadow: 0 10px 25px rgba(0,0,0,0.15); overflow: hidden;">
									<div class="card-header" style="background: linear-gradient(60deg, #ab47bc, #8e24aa); color: white; padding: 20px;">
										<h4 class="card-title" style="font-weight: bold;color:white;">Statut des Utilisateurs</h4>
										<p class="card-category" style="margin-top: 10px;">Actifs :
											<strong>{{ userStatusStats.data[0] }}</strong>
											| Bloqués :
											<strong>{{ userStatusStats.data[1] }}</strong>
										</p>
									</div>
									<div class="card-body" style="background: #fafafa;">
										<div class="chart-container" style="position: relative; height: 300px;">
											<canvas id="userStatusChart"></canvas>
										</div>


									</div>

								</div>


								<!-- To-Do List améliorée -->
								<div class="col-md-3">
									<div id="sticky-todo" class="card flex-grow-1" style="top: 100px;">
										<div class="card-header card-header-success">
											<h4 class="card-title">Ma To-Do List</h4>
											<p class="card-category">Organisez vos tâches efficacement</p>
										</div>
										<div class="card-body d-flex flex-column">
											<form id="todo-form" action="{{ path('app_todo_add') }}" method="POST" class="d-flex mb-4">
												<input type="text" id="todo-input" name="title" class="form-control mr-2" placeholder="Ajouter une nouvelle tâche..." required>
												<button type="submit" class="btn btn-success btn-round">
													<i class="material-icons">add</i>
													Ajouter
												</button>
											</form>

											<ul id="todo-list" class="list-group list-group-flush flex-grow-1 overflow-auto">
												{% for todo in todos %}
													<li class="list-group-item d-flex justify-content-between align-items-center">
														<div class="d-flex align-items-center">
															{% if todo.status %}
																<i class="material-icons text-success mr-2">check_circle</i>
																<s>{{ todo.title }}</s>
															{% else %}
																<i class="material-icons text-warning mr-2">pending</i>
																{{ todo.title }}
															{% endif %}
														</div>
														<div>
															{% if not todo.status %}
																<a href="{{ path('app_todo_done', {id: todo.id}) }}" class="btn btn-sm btn-outline-success" title="Terminer">
																	<i class="material-icons" style="font-size:18px;">done</i>
																</a>
															{% endif %}
															<a href="{{ path('app_todo_delete', {id: todo.id}) }}" class="btn btn-sm btn-outline-danger" title="Supprimer">
																<i class="material-icons" style="font-size:18px;">delete</i>
															</a>
														</div>
													</li>
												{% else %}
													<li class="list-group-item text-center text-muted">
														Aucune tâche pour l'instant
													</li>
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="row mt-4">
								<div class="col-md-9" style="border-radius: 15px; box-shadow: 0 10px 25px rgba(0,0,0,0.15); overflow: hidden;">
									<div class="card" style="border-radius:15px; box-shadow:0 10px 25px rgba(0,0,0,0.15);">
										<div class="card-header" style="background:linear-gradient(60deg,#26c6da,#00acc1); color:white; padding:20px;">
											<div class="d-flex justify-content-between">
												<h4 class="card-title">Statistiques Véhicules (Cylindres)</h4>
												<select id="chartTypeSelect" class="form-control w-auto">
													<option value="pie">Pie</option>
													<option value="bar">Bar</option>
													<option value="line">Line</option>
													<option value="wavy">onde</option>
												</select>
											</div>
										</div>
										<div class="card-body" style="background:#fafafa;">
											<canvas id="vehicleCylinderChart" style="height:320px;"></canvas>
										</div>
									</div>
								</div>
							</div>

						{% endblock %}


						{% block javascripts %}

							{{ parent() }}
							<script>
								function updateTaskCount() {
const countElement = document.getElementById('task-count');
const totalTasks = document.querySelectorAll('#todo-list li').length;
countElement.textContent = totalTasks + ' tâches';
}

document.addEventListener('DOMContentLoaded', function () {
updateTaskCount(); // Appeler une fois au début

document.querySelectorAll('.btn-outline-danger, .btn-outline-success').forEach(function (btn) {
btn.addEventListener('click', function () {
setTimeout(updateTaskCount, 800); // Mettre à jour après suppression/validation
});
});
});
							</script>
							<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>

							<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

							<!-- SortableJS pour le drag and drop -->
							<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>

							<script>
								document.addEventListener('DOMContentLoaded', function () {
const todo = document.getElementById('sticky-todo');

function handleScroll() {
const rect = todo.getBoundingClientRect();
if (rect.top<window.innerHeight - 100) {
            todo.classList.add('visible');
            window.removeEventListener('scroll', handleScroll); // Animation une seule fois
        }
    }

    window.addEventListener('scroll', handleScroll);
    handleScroll(); // Au cas où il est déjà visible
});


								document.addEventListener('DOMContentLoaded', function () {
const todoForm = document.getElementById('todo-form');
const todoInput = document.getElementById('todo-input');
const listGroup = document.getElementById('todo-list');

if (listGroup) {
new Sortable(listGroup, {
animation: 150, ghostClass: 'bg-light'
});
}

todoForm.addEventListener('submit', function (e) {
if (! todoInput.value.trim()) {
e.preventDefault();
Swal.fire({icon: 'error', title: 'Oops...', text: 'Veuillez saisir une tâche valide !'});
return;
}

Swal.fire({
position: 'top-end', icon: 'success', title: 'Tâche ajoutée avec succès !', showConfirmButton: false, timer: 1500
});
});

document.querySelectorAll('.btn-outline-danger').forEach(function (deleteBtn) {
deleteBtn.addEventListener('click', function (e) {
e.preventDefault();
const listItem = this.closest('li');

Swal.fire({
title: 'Êtes-vous sûr ?', text: "Cette action est irréversible !", icon: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Oui, supprimer'
}).then((result) => {
if (result.isConfirmed) {
listItem.style.transition = "opacity 0.6s, transform 0.6s";
listItem.style.opacity = 0;
listItem.style.transform = "translateX(50px)";
setTimeout(() => {
window.location.href = this.href;
}, 600);
}
}) 





}
);
}
);

document.querySelectorAll('.btn-outline-success').forEach(function (doneBtn) {
doneBtn.addEventListener('click', function (e) {
e.preventDefault();
const listItem = this.closest('li');

listItem.style.transition = "background-color 0.5s";
listItem.style.backgroundColor = "#d4edda";

setTimeout(() => {
window.location.href = this.href;
}, 600);
});
});

// ✅ Hover animation
document.querySelectorAll('.list-group-item').forEach(function (item) {
item.addEventListener('mouseover', function () {
item.style.backgroundColor = "#f9f9f9";
});
item.addEventListener('mouseout', function () {
item.style.backgroundColor = "transparent";
});
});
});
							</script>

							<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>

							<script>
								document.addEventListener('DOMContentLoaded', function () {
const ctx = document.getElementById('userStatusChart').getContext('2d');

new Chart(ctx, {
type: 'doughnut',
data: {
labels: [
'Comptes Actifs', 'Comptes Bloqués'
],
datasets: [
{
data: [
{{ userStatusStats.data[0] }}, {{ userStatusStats.data[1] }}
],
backgroundColor: [
'#66BB6A', '#EF5350'
],
borderColor: '#ffffff',
borderWidth: 5
}
]
},
options: {
cutout: '70%', // trou au milieu plus grand
responsive: true,
maintainAspectRatio: false,
plugins: {
legend: {
position: 'bottom',
labels: {
padding: 20,
color: '#444',
font: {
size: 14
}
}
},
tooltip: {
enabled: true,
backgroundColor: '#333',
titleColor: '#fff',
bodyColor: '#fff'
}
},
animation: {
animateRotate: true,
animateScale: true
}
}
});
});
							</script>

							<script>
								document.addEventListener('DOMContentLoaded', function () {
const url = new URL('http://localhost:3000/.well-known/mercure');
url.searchParams.append('topic', 'http://localhost/notifications');

const eventSource = new EventSource(url);

eventSource.onmessage = function (event) {
const data = JSON.parse(event.data);
const menu = document.getElementById('notification-menu');
const count = document.getElementById('notification-count');

// Supprimer "Aucune notification" UNIQUEMENT une fois
const noNotif = menu.querySelector('.text-muted');
if (noNotif) {
noNotif.remove();
}

// Créer un nouvel élément notification
const notifItem = document.createElement('a');
notifItem.href = "#";
notifItem.className = "dropdown-item d-flex align-items-center";

notifItem.innerHTML = `
            <i class="material-icons mr-2" style="font-size:18px;">email</i>
            <div>
                ${
data.text
}<br>
                <small class="text-muted" style="font-size:10px;">(${
data.time
})</small>
            </div>
        `;

// Quand l'utilisateur clique sur une notification
notifItem.addEventListener('click', function (e) {
e.preventDefault();

window.open('https://mail.google.com/mail/u/0/#inbox', '_blank');

// Supprimer cette notification
notifItem.nextElementSibling ?. remove();
notifItem.remove();

// Décrémenter compteur
const currentCount = parseInt(count.innerText) || 0;
if (currentCount > 1) {
count.innerText = currentCount - 1;
} else {
count.style.display = 'none';
// Ajouter "Aucune notification"
const noNotifMessage = document.createElement('a');
noNotifMessage.className = "dropdown-item text-muted";
noNotifMessage.href = "#";
noNotifMessage.innerText = "Aucune notification";
menu.appendChild(noNotifMessage);
}
});

menu.prepend(notifItem);

// Ajouter une séparation après chaque notification
const divider = document.createElement('div');
divider.className = "dropdown-divider";
menu.insertBefore(divider, notifItem.nextSibling);

// Mettre à jour compteur
const currentCount = parseInt(count.innerText) || 0;
count.innerText = currentCount + 1;
count.style.display = 'inline-block';
};
});
							</script>
							<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

							<script>
								document.addEventListener('DOMContentLoaded', function () {
const ctx = document.getElementById('vehicleCylinderChart').getContext('2d');

// Données dynamiques pour véhicules (venant de Symfony Controller)
const cylinderStats = {
labels: {{ vehicleCylinderStats.labels|json_encode|raw }},
datasets: [
{
label: 'Nombre de véhicules',
data: {{ vehicleCylinderStats.data|json_encode|raw }},
backgroundColor: {{ vehicleCylinderStats.colors|json_encode|raw }},
borderColor: "#ffffff",
borderWidth: 2
}
]
};

// Données fixes pour onde sinusoïdale
const waveLabels = [];
const waveData = [];
for (let x = 0; x <= 360; x += 10) { // 0° to 360° par pas de 10°
waveLabels.push(x + '°');
waveData.push(Math.sin(x * Math.PI / 180) * 100); // Amplitude 100
}
const wavyStats = {
labels: waveLabels,
datasets: [
{
label: 'Onde Sinusoïdale',
data: waveData,
borderColor: 'orange',
backgroundColor: 'rgba(255,165,0,0.3)',
tension: 0.4, // effet courbé
fill: true,
pointRadius: 0,
borderWidth: 2
}
]
};

// Initialiser avec Pie Chart des cylindres
let currentChart = new Chart(ctx, {
type: 'pie',
data: cylinderStats,
options: {
responsive: true,
maintainAspectRatio: false,
plugins: {
legend: {
position: 'bottom',
labels: {
color: '#333',
font: {
size: 14
}
}
}
}
}
});

// Gestion du changement de type
document.getElementById('chartTypeSelect').addEventListener('change', function () {
const selectedType = this.value;

// Détruire ancien graphique
currentChart.destroy();

if (selectedType === 'wavy') { // Afficher la fonction onde
currentChart = new Chart(ctx, {
type: 'line',
data: wavyStats,
options: {
responsive: true,
maintainAspectRatio: false,
animations: {
tension: {
duration: 1000,
easing: 'easeInOutQuart',
from: 0.5,
to: 0.5,
loop: true
}
},
scales: {
y: {
suggestedMin: -100,
suggestedMax: 100
}
},
plugins: {
legend: {
display: false
}
}
}
});
} else { // Normal pour pie/bar/line sur cylindres
currentChart = new Chart(ctx, {
type: selectedType,
data: cylinderStats,
options: {
responsive: true,
maintainAspectRatio: false,
plugins: {
legend: {
position: 'bottom',
labels: {
color: '#333',
font: {
size: 14
}
}
}
}
}
});
}
});
});
							</script>


						{% endblock %}
