{% extends 'base1.html.twig' %}
{% block body %}

	<!-- Extra details for Live View on GitHub Pages -->
	<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0" style="display:none;visibility:hidden"> </iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->

	<div class="wrapper">
		<div class="sidebar" data-color="orange" data-background-color="black" data-image="{{ asset('assets/img/sidebar-1.jpg')}}">
			<div class="logo">
				<img src="{{ asset('assets/img/secondry - Copie.png') }}" class="simple-text logo-mini" alt="Logo">
			</div>
			<div class="sidebar-wrapper">
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link" href="dashboard.html">
							<i class="material-icons">dashboard</i>
							<p>Dashboard</p>
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{path('app_back_office')}}">
							<i class="material-icons">person</i>
							<p>Gestion User</p>
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#gestionHotelMenu">
							<i class="material-icons">apartment</i>
							<p>Gestion Hotel
								<b class="caret"></b>
							</p>
						</a>
						<div class="collapse" id="gestionHotelMenu">
							<ul class="nav">
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_back_hotel_index')}}">
										<span class="sidebar-mini">H</span>
										<span class="sidebar-normal">Hotel</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_back_chambre')}}">
										<span class="sidebar-mini">C</span>
										<span class="sidebar-normal">Chambre</span>
									</a>
								</li>
							</ul>
						</div>
					</li>

					<!-- Sector Gestion Circuit Nav bar -->
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#gestionCircuitMenu">
							<i class="material-icons">map</i>
							<p>Gestion Circuit
								<b class="caret"></b>
							</p>
						</a>
						<div class="collapse" id="gestionCircuitMenu">
							<ul class="nav">
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_back_activite')}}">
										<span class="sidebar-mini">A</span>
										<span class="sidebar-normal">Activite</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_back_session')}}">
										<span class="sidebar-mini">S</span>
										<span class="sidebar-normal">Session</span>
									</a>
								</li>
							</ul>
						</div>
					</li>


					<!-- End  Sector Gestion Circuit  Nav bar -->

					<li class="nav-item active">
						<a class="nav-link" data-toggle="collapse" href="#gestionVolMenu" aria-expanded="true">
							<i class="material-icons">flight</i>
							<p>Gestion Vols
								<b class="caret"></b>
							</p>
						</a>
						<div class="collapse show" id="gestionVolMenu">
							<ul class="nav">
								<li class="nav-item active">
									<a class="nav-link" href="{{path('app_back_vol_index')}}">
										<span class="sidebar-mini">V</span>
										<span class="sidebar-normal">Vols</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_back_checkoutvol_list')}}">
										<span class="sidebar-mini">C</span>
										<span class="sidebar-normal">Check Out</span>
									</a>
								</li>
							</ul>
						</div>
					</li>

					<!-- Sector Gestion Vehicule Nav bar -->
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#gestionVehiculeMenu">
							<i class="material-icons">directions_car</i>
							<p>Gestion Location
								<b class="caret"></b>
							</p>
						</a>
						<div class="collapse" id="gestionVehiculeMenu">
							<ul class="nav">
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_back_vehicule')}}">
										<span class="sidebar-mini">V</span>
										<span class="sidebar-normal">Vehicule</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_back_contrat')}}">
										<span class="sidebar-mini">C</span>
										<span class="sidebar-normal">Contrat</span>
									</a>
								</li>
							</ul>
						</div>
					</li>


					<!-- End  Sector Gestion Vehicule  Nav bar -->

					<!-- Sector Gestion Forum Nav bar -->
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#gestionForumMenu">
							<i class="material-icons">forum</i>
							<p>Gestion Forum
								<b class="caret"></b>
							</p>
						</a>
						<div class="collapse" id="gestionForumMenu">
							<ul class="nav">
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_back_forum')}}">
										<span class="sidebar-mini">F</span>
										<span class="sidebar-normal">Forum</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_back_post')}}">
										<span class="sidebar-mini">P</span>
										<span class="sidebar-normal">Post</span>
									</a>
								</li>
							</ul>
						</div>
					</li>


					<!-- End  Sector Gestion Forum  Nav bar -->
					<!-- Sector Gestion Reclamation Nav bar -->
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#gestionReclamationMenu">
							<i class="material-icons">restore</i>
							<p>Gestion Reclamation
								<b class="caret"></b>
							</p>
						</a>
						<div class="collapse" id="gestionReclamationMenu">
							<ul class="nav">
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_back_reclamation')}}">
										<span class="sidebar-mini">R</span>
										<span class="sidebar-normal">Reclamation</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_back_reponse')}}">
										<span class="sidebar-mini">R</span>
										<span class="sidebar-normal">Reponse</span>
									</a>
								</li>
							</ul>
						</div>
					</li>


					<!-- End  Sector Gestion Reclamation  Nav bar -->
				</ul>
			</div>
			<div class="sidebar-background"></div>
		</div>

		<div class="main-panel">
			<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
				<div class="container-fluid">
					<div class="navbar-wrapper">
						<div class="navbar-minimize">
							<button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
								<i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
								<i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
							</button>
						</div>
						<a class="navbar-brand" href="javascript:;">Table Vol</a>
					</div>
					<div class="collapse navbar-collapse justify-content-end">
						<form class="navbar-form">
							<div class="input-group no-border">
								<input type="text" value="" class="form-control" placeholder="Search...">
								<button type="submit" class="btn btn-white btn-round btn-just-icon">
									<i class="material-icons">search</i>
								</button>
							</div>
						</form>
						<ul class="navbar-nav">
							<li class="nav-item dropdown">
								<a class="nav-link" href="http://example.com/" id="navbarDropdownMenuLink" data-toggle="dropdown">
									<i class="material-icons">notifications</i>
									<span class="notification">5</span>
								</a>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Mike John responded to your email</a>
									<a class="dropdown-item" href="#">You have 5 new tasks</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown">
									<i class="material-icons">person</i>
								</a>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Profile</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Log out</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</nav>

			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header card-header-primary card-header-icon">
									<div class="card-icon">
										<i class="material-icons">flight</i>
									</div>
									<h4 class="card-title">Table Vol</h4>
									<a href="{{ path('app_back_vol_new') }}" class="btn btn-warning btn-round float-right">
										<i class="material-icons">add</i>
										Nouveau Vol
									</a>
								</div>
								<div
									class="card-body">
									<!-- Tabs Navigation -->
									<div class="nav-wrapper">
										<ul class="nav nav-tabs nav-tabs-primary" id="myTab" role="tablist">
											<li class="nav-item">
												<a class="nav-link active" id="flights-tab" data-toggle="tab" href="#flights" role="tab" aria-controls="flights" aria-selected="true">
													<i class="material-icons">list</i>
													Liste des Vols
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" id="map-tab" data-toggle="tab" href="#map" role="tab" aria-controls="map" aria-selected="false">
													<i class="material-icons">map</i>
													Carte des Vols
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" id="stats-tab" data-toggle="tab" href="#stats" role="tab" aria-controls="stats" aria-selected="false">
													<i class="material-icons">analytics</i>
													Statistiques
												</a>
											</li>
										</ul>
									</div>

									<!-- Tab Content -->
									<div
										class="tab-content" id="myTabContent">
										<!-- Flights Table Tab -->
										<div class="tab-pane fade show active" id="flights" role="tabpanel" aria-labelledby="flights-tab">
											<div class="material-datatables">
												<table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%">
													<thead>
														<tr>
															<th>Départ</th>
															<th>Destination</th>
															<th>Heure Départ</th>
															<th>Heure Arrivée</th>
															<th>Classe</th>
															<th>Compagnie</th>
															<th>Prix</th>
															<th>Sièges Disponibles</th>
															<th>Actions</th>
														</tr>
													</thead>
													<tbody>
														{% for vol in vols %}
															<tr>
																<td>{{ vol.depart }}</td>
																<td>{{ vol.destination }}</td>
																<td>{{ vol.heureDepart|date('d/m/Y H:i') }}</td>
																<td>{{ vol.heureArrivee|date('d/m/Y H:i') }}</td>
																<td>{{ vol.classeChaise }}</td>
																<td>{{ vol.compagnie }}</td>
																<td>{{ vol.prix }}
																	€</td>
																<td>{{ vol.siegesDisponibles }}</td>
																<td class="text-right">
																	<a href="{{ path('app_back_vol_edit', {'id': vol.id}) }}" class="btn btn-link btn-warning btn-just-icon">
																		<i class="material-icons">edit</i>
																	</a>
																	<form method="post" action="{{ path('app_back_vol_delete', {'id': vol.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr?')">
																		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vol.id) }}">
																		<button type="submit" class="btn btn-link btn-danger btn-just-icon">
																			<i class="material-icons">close</i>
																		</button>
																	</form>
																</td>
															</tr>
														{% else %}
															<tr>
																<td colspan="9" class="text-center">Aucun vol trouvé</td>
															</tr>
														{% endfor %}
													</tbody>
												</table>
												<a href="{{ path('app_back_vol_export_pdf') }}" class="btn btn-outline-primary mb-3">
													📄 Télécharger en PDF
												</a>
											</div>
											<div class="navigation-buttons text-center mt-4">
												<button class="btn btn-primary btn-round" onclick="switchTab('map-tab')">
													<i class="material-icons">arrow_forward</i>
													Voir la Carte
												</button>
											</div>
										</div>

										<!-- Map Tab -->
										<div class="tab-pane fade" id="map" role="tabpanel" aria-labelledby="map-tab">
											<div id="map" style="height: 600px; width: 100%; margin-top: 20px;"></div>
											<div class="navigation-buttons text-center mt-4">
												<button class="btn btn-primary btn-round" onclick="switchTab('flights-tab')">
													<i class="material-icons">arrow_back</i>
													Retour à la Liste
												</button>
												<button class="btn btn-primary btn-round" onclick="switchTab('stats-tab')">
													<i class="material-icons">arrow_forward</i>
													Voir les Statistiques
												</button>
											</div>
										</div>

										<!-- Statistics Tab -->
										<div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats-tab">
											<div class="row">
												<div class="col-md-4">
													<div class="stats-card">
														<div class="stats-icon">
															<i class="material-icons">attach_money</i>
														</div>
														<div class="stats-info">
															<h3>{{ averages.avgPrice|number_format(2, '.', ',') }}
																TND</h3>
															<p>Prix Moyen</p>
														</div>
													</div>
												</div>
												<div class="col-md-4">
													<div class="stats-card">
														<div class="stats-icon">
															<i class="material-icons">event_seat</i>
														</div>
														<div class="stats-info">
															<h3>{{ averages.avgSeats|number_format(0) }}</h3>
															<p>Sièges Moyens</p>
														</div>
													</div>
												</div>
												<div class="col-md-4">
													<div class="stats-card">
														<div class="stats-icon">
															<i class="material-icons">flight_class</i>
														</div>
														<div class="stats-info">
															<h3>{{ averages.avgClasse|number_format(2, '.', ',') }}</h3>
															<p>Classe Moyenne</p>
														</div>
													</div>
												</div>
											</div>

											<div class="row mt-4">
												<div class="col-md-6">
													<div class="card">
														<div class="card-header card-header-primary">
															<h4 class="card-title">Distribution des Prix</h4>
														</div>
														<div class="card-body">
															<canvas id="priceChart"></canvas>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="card">
														<div class="card-header card-header-primary">
															<h4 class="card-title">Occupation des Sièges</h4>
														</div>
														<div class="card-body">
															<canvas id="seatsChart"></canvas>
														</div>
													</div>
												</div>
											</div>

											<div class="navigation-buttons text-center mt-4">
												<button class="btn btn-primary btn-round" onclick="switchTab('map-tab')">
													<i class="material-icons">arrow_back</i>
													Retour à la Carte
												</button>
												<button class="btn btn-primary btn-round" onclick="switchTab('flights-tab')">
													<i class="material-icons">arrow_back</i>
													Retour à la Liste
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<footer class="footer">
				<div class="container-fluid">
					<nav class="float-left">
						<ul>
							<li><a href="https://www.creative-tim.com/">Creative Tim</a></li>
							<li><a href="https://creative-tim.com/presentation">About Us</a></li>
							<li><a href="https://www.creative-tim.com/license">Licenses</a></li>
						</ul>
					</nav>
					<div class="copyright float-right">
						&copy;
						<script>
							document.write(new Date().getFullYear())
						</script>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<!-- Core JS Files -->
	<script src="{{ asset('assets/js/core/jquery.min.js') }}"></script>
	<script src="{{ asset('assets/js/core/popper.min.js') }}"></script>
	<script src="{{ asset('assets/js/core/bootstrap-material-design.min.js') }}"></script>
	<script src="{{ asset('assets/js/plugins/perfect-scrollbar.min.js') }}"></script>
	<script src="{{ asset('assets/js/plugins/moment.min.js') }}"></script>
	<script src="{{ asset('assets/js/plugins/sweetalert2.js') }}"></script>
	<script src="{{ asset('assets/js/plugins/jquery.validate.min.js') }}"></script>
	<script src="{{ asset('assets/js/plugins/jquery.bootstrap-wizard.js') }}"></script>
	<script src="{{ asset('assets/js/plugins/bootstrap-selectpicker.js') }}"></script>
	<script src="{{ asset('assets/js/plugins/bootstrap-datetimepicker.min.js') }}"></script>
	<script src="{{ asset('assets/js/plugins/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('assets/js/plugins/bootstrap-tagsinput.js') }}"></script>
	<script src="{{ asset('assets/js/plugins/jasny-bootstrap.min.js') }}"></script>
	<script src="{{ asset('assets/js/plugins/fullcalendar.min.js') }}"></script>
	<script src="{{ asset('assets/js/plugins/jquery-jvectormap.js') }}"></script>
	<script src="{{ asset('assets/js/plugins/nouislider.min.js') }}"></script>
	<script src="{{ asset('assets/js/plugins/arrive.min.js') }}"></script>
	<script src="{{ asset('assets/js/plugins/chartist.min.js') }}"></script>
	<script src="{{ asset('assets/js/plugins/bootstrap-notify.js') }}"></script>
	<script src="{{ asset('assets/js/material-dashboard.min.js') }}"></script>

	<!-- Add Leaflet CSS -->
	<link
	rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>

	<!-- Add Leaflet JavaScript -->
	<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

	<style>
		#map {
			height: 600px;
			width: 100%;
			margin-top: 20px;
			border-radius: 8px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		}
		.flight-path {
			stroke: #ff5722;
			stroke-width: 2;
			stroke-dasharray: 5, 5;
		}
		.departure-marker {
			background-color: transparent;
		}
		.arrival-marker {
			background-color: transparent;
		}
		.marker-popup {
			font-family: 'Roboto', sans-serif;
		}
		.marker-popup h3 {
			margin: 0 0 5px;
			color: #333;
			font-size: 14px;
		}
		.marker-popup p {
			margin: 0;
			color: #666;
			font-size: 12px;
		}
		.marker-icon {
			font-size: 18px !important;
			line-height: 1 !important;
			display: flex !important;
			align-items: center !important;
			justify-content: center !important;
		}
		.nav-wrapper {
			background: #f8f9fa;
			padding: 0 15px;
			border-radius: 4px;
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
			margin-bottom: 20px;
		}
		.nav-tabs {
			border: none;
			margin: 0;
			padding: 0;
		}
		.nav-tabs .nav-link {
			border: none;
			color: #000 !important;
			padding: 15px 25px;
			margin: 0;
			border-radius: 0;
			transition: all 0.3s ease;
			position: relative;
			font-weight: 500;
			background-color: #f8f9fa;
		}
		.nav-tabs .nav-link:hover {
			background-color: #e9ecef;
			color: #000 !important;
		}
		.nav-tabs .nav-link.active {
			color: #000 !important;
			background-color: #fff;
			font-weight: 600;
			box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05);
		}
		.nav-tabs .nav-link.active:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 3px;
			background: #ff5722;
		}
		.nav-tabs .nav-link i {
			margin-right: 8px;
			vertical-align: middle;
			color: inherit;
		}
		.navigation-buttons {
			padding: 20px 0;
		}
		.navigation-buttons .btn {
			margin: 0 10px;
			padding: 12px 30px;
			color: #fff;
		}
		.navigation-buttons .btn i {
			margin-right: 8px;
			vertical-align: middle;
		}
		.tab-content {
			padding: 20px 0;
			background-color: #fff;
			border-radius: 0 0 4px 4px;
		}
		.tab-pane {
			animation: fadeIn 0.3s ease;
			color: #333;
		}
		.tab-pane h2,
		.tab-pane h3,
		.tab-pane h4 {
			color: #333;
		}
		.tab-pane p {
			color: #666;
		}
		@keyframes fadeIn {
			from {
				opacity: 0;
				transform: translateY(10px);
			}
			to {
				opacity: 1;
				transform: translateY(0);
			}
		}
		/* Ensure table text is visible */
		.table {
			color: #333;
		}
		.table thead th {
			color: #333;
			font-weight: 600;
		}
		.table tbody td {
			color: #666;
		}
		/* Stats Card Styles */
		.stats-card {
			background: #fff;
			border-radius: 8px;
			padding: 20px;
			text-align: center;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
			transition: transform 0.3s ease;
			margin-bottom: 20px;
		}
		.stats-card:hover {
			transform: translateY(-5px);
		}
		.stats-icon {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			background: #ff5722;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 auto 15px;
		}
		.stats-icon i {
			color: #fff;
			font-size: 30px;
		}
		.stats-info h3 {
			color: #333;
			font-size: 24px;
			margin: 0;
			font-weight: 600;
		}
		.stats-info p {
			color: #666;
			margin: 5px 0 0;
			font-size: 16px;
		}
		.card-header-primary {
			background: linear-gradient(60deg, #ff5722, #ff9800);
		}
		.card-header-primary .card-title {
			color: #fff;
			margin: 0;
		}
		/* Force black color for all tab states */
		.nav-tabs .nav-link,
		.nav-tabs .nav-link:hover,
		.nav-tabs .nav-link:focus,
		.nav-tabs .nav-link.active,
		.nav-tabs .nav-link:not(.active) {
			color: #000 !important;
		}
	</style>

	<script>
		$(document).ready(function () {
// Initialize DataTable


// Function to switch tabs
window.switchTab = function (tabId) {
$('.nav-tabs a[href="#' + tabId.replace('-tab', '') + '"]').trigger('click');
};

// Handle tab clicks and ensure text color
$('.nav-tabs a').on('click', function (e) {
e.preventDefault();
$(this).tab('show');
$('.nav-tabs .nav-link').removeClass('active');
$(this).addClass('active');
// Force black color on all tabs
$('.nav-tabs .nav-link').css('color', '#000');
});

// Ensure text color on tab shown
$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
$('.nav-tabs .nav-link').css('color', '#000');
const target = $(e.target).attr('href');
if (target === '#map') {
setTimeout(function () {
map.invalidateSize();
}, 100);
} else if (target === '#stats') {
initializeCharts();
}
});

// Force initial text color
$('.nav-tabs .nav-link').css('color', '#000');

// Function to initialize charts
function initializeCharts() { // Price Distribution Chart
const priceCtx = document.getElementById('priceChart').getContext('2d');
new Chart(priceCtx, {
type: 'line',
data: {
labels: [
'Jan',
'Fév',
'Mar',
'Avr',
'Mai',
'Juin'
],
datasets: [
{
label: 'Prix Moyen',
data: [
{{ averages.avgPrice }},
{{ averages.avgPrice * 1.1 }},
{{ averages.avgPrice * 0.9 }},
{{ averages.avgPrice * 1.2 }},
{{ averages.avgPrice * 0.8 }},
{{ averages.avgPrice }}
],
borderColor: '#ff5722',
tension: 0.4,
fill: false
}
]
},
options: {
responsive: true,
plugins: {
legend: {
position: 'top'
}
}
}
});

// Seats Occupancy Chart
const seatsCtx = document.getElementById('seatsChart').getContext('2d');
new Chart(seatsCtx, {
type: 'doughnut',
data: {
labels: [
'Occupés', 'Disponibles'
],
datasets: [
{
data: [
{{ averages.avgSeats * 0.7 }}, {{ averages.avgSeats * 0.3 }}
],
backgroundColor: ['#ff5722', '#e0e0e0']
}
]
},
options: {
responsive: true,
plugins: {
legend: {
position: 'top'
}
}
}
});
}

// Initialize the map
const map = L.map('map').setView([
30, 0
], 2);

// Add OpenStreetMap tile layer
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: '© OpenStreetMap contributors'}).addTo(map);

// Create custom icons for departure and arrival
const departureIcon = L.divIcon({
className: 'departure-marker',
html: '<i class="material-icons marker-icon" style="color: #4CAF50;">flight_takeoff</i>',
iconSize: [
20, 20
],
iconAnchor: [10, 10]
});

const arrivalIcon = L.divIcon({
className: 'arrival-marker',
html: '<i class="material-icons marker-icon" style="color: #F44336;">flight_land</i>',
iconSize: [
20, 20
],
iconAnchor: [10, 10]
});

// Function to geocode a location
async function geocodeLocation(location) {
try {
const response = await fetch (`https://nominatim.openstreetmap.org/search?format=json&q=${
encodeURIComponent(location)
}`);
const data = await response.json();
if (data && data.length > 0) {
return {
lat: parseFloat(data[0].lat),
lon: parseFloat(data[0].lon)
};
}
return null;
} catch (error) {
console.error('Geocoding error:', error);
return null;
}
}

// Process each flight
async function processFlights() {
const flights = [];{% for vol in vols %}flights.push({
depart: "{{ vol.depart }}",
destination: "{{ vol.destination }}",
heureDepart: "{{ vol.heureDepart|date('d/m/Y H:i') }}",
heureArrivee: "{{ vol.heureArrivee|date('d/m/Y H:i') }}",
compagnie: "{{ vol.compagnie }}"
});{% endfor %}

for (const flight of flights) {
const departCoords = await geocodeLocation(flight.depart);
const destCoords = await geocodeLocation(flight.destination);

if (departCoords && destCoords) { // Add departure marker
L.marker([
departCoords.lat, departCoords.lon
], {icon: departureIcon}).bindPopup(`
								<div class="marker-popup">
									<h3>Départ</h3>
									<p>${
flight.depart
}</p>
									<p>Heure: ${
flight.heureDepart
}</p>
									<p>Compagnie: ${
flight.compagnie
}</p>
								</div>
							`).addTo(map);

// Add arrival marker
L.marker([
destCoords.lat, destCoords.lon
], {icon: arrivalIcon}).bindPopup(`
								<div class="marker-popup">
									<h3>Arrivée</h3>
									<p>${
flight.destination
}</p>
									<p>Heure: ${
flight.heureArrivee
}</p>
									<p>Compagnie: ${
flight.compagnie
}</p>
								</div>
							`).addTo(map);

// Add flight path
const path = L.polyline([
[
departCoords.lat, departCoords.lon
],
[
destCoords.lat, destCoords.lon
]
], {className: 'flight-path'}).addTo(map);
}
}
}

// Initialize the map with flights
processFlights();
});
	</script>
{% endblock %}
